<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{socialmedia}">
        <ul class="social-icons">
            <f:for each="{socialmedia}" as="social">
                <li>
                    <f:link.typolink parameter="{social.data.tx_ucph_content_socialmedia_link}" additionalAttributes="{aria-label:'{social.data.tx_ucph_content_socialmedia_name}'}">
                        <span class="bi bi-{social.data.tx_ucph_content_socialmedia_name}" aria-hidden="true"></span>
                    </f:link.typolink>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>

</html>